<link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">

body{
	background: #ccc;
	font-family: arial;
<<<<<<< HEAD
	margin:0;
}

.g5_divider{
	background-color: cyan ;
}

.g5_title{
	color: darkslateblue;
	text-align: center;
}

.g5_form_reserva label{
	font-weight: bold;
	padding: 1em;
}

.g5_form_reserva label,.g5_form_reserva input{
	margin: 14px 0px;

}

.g5_form_reserva input{
	padding: 6px;
}

.g5_form_reserva select{
	padding: 6px;
}

.g5_form_reserva button{
	padding: 12px;
	background-color: darkkhaki;
}

.g5_calendario, th, td {
	border: 1px solid black;
	padding: 18px;
	text-align: center;
}

.g5_fecha_elegida{
	background-color: cyan;
	cursor: pointer;
}

.g5_title_calendario{
	background-color: bisque;
}
=======
<<<<<<< HEAD
}


*{
    padding: 0;
    margin: 0;
}


.g2_empleado_body{
  margin: 0;
  padding: 0;
  background-image: url("HNCK0360.jpg");
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}


.g2_empleado_titulo_car{
   float: left; 
   font-family: 'Charm', cursive;
   font-size: 34px;
 
}
.g2_empleado_usuario_p{
    
    float: right;
    margin-top: 10px;
    font-size: 25px;
     font-family: 'Charm', cursive;
    
    
}

.g2_empleado_titulo{
    
    display: inline-block;
    position: relative;
    font-size: 2.5em;
    left: 42%;
    font-family: 'Charm', cursive;
    color: #ffff;
    
}
.g2_empleado_titulo::after,.g2_empleado_titulo::before{
    color: #ffff;
   content: '';
   position: absolute;
   width: 80px;
   height: 3px;
   background-color: currentcolor;
   top:0.8em;

   

}

.g2_empleado_titulo::before{
    left: -80px;
    

}

.g2_empleado_titulo::after{
    right: -80px;

     
}

.g2_empleado_menu,
.menu ul{

    /* Con esto se le quita las viñetas*/
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

}


.g2_empleado_menu{
    clear: left;
    background: #0B3861;
    display: table;
    margin: auto;
    width: 100%;
}

.g2_empleado_menu > li{
    float: left;
    
}


.g2_empleado_menu li{
    position: relative;
}

.g2_empleado_menu a{
    color: #eee;
    /* Quita el subrayado*/
    text-decoration: none;
    display: block;
    padding: 0.6em 85px;
    white-space: nowrap;
}

.g2_empleado_menu li:hover{
    background: rgba(0, 0, 0, .5)
}

.g2_empleado_menu li:hover > ul{
    display: block;
    background: #0B3861;

}

.g2_empleado_menu li > ul{
    position: absolute;
    width: 290px;
    display: none;
    
}

.g2_empleado_menu ul ul{
    top: 0;
    left: 100%;


}

#g2_empleado_footer {
  position: fixed;
  padding-top: 4px;
  bottom: 0;
  width: 100%;
  height: 25px;
  background: #0B3861;
  text-align: center;
  font-size: 1.2em;
  color: #eee;
  font-style: monospace ;



}

#g2_empleado_footer p{
    padding: 10px 0;
}


/*Cambiar*/

#g2_empleado_main-container{
	margin: 150px auto;
	width: 600px;
}

.g2_empleado_table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}

=======
<<<<<<< HEAD
}

#g1_tit_cli{
    font-family: 'Oswald', sans-serif;
    color: red;
}

#g1_i1{
    width: 23%;
    position: absolute;
    padding-left: 1%;
    margin-left: 1%;

}
#g1_i2{
    width: 23%;
    position: absolute;
    margin-left: 26%;
    
}
#g1_i3{
    width: 23%;
    position: absolute;
    margin-left: 50%;
}
#g1_i4{
    width: 23%;
    position: absolute;
    margin-left: 74%;
}

img{
    width: 90%;
=======
	margin:0;
}
header{
	width: 90%;
	margin: 0 auto;
	background: #fff;
}
header section{
	padding: 1em;
	width: 10%;
	display: inline-block;
}
header nav{
	width: 80%;
	display: inline-block;
	text-align: right;
}
header nav a{
	text-decoration: none;
	padding: 0 0.5em;
	color: #000;
}
header nav a:hover {
  	background-color: #000;
	padding: 0 0.5em;
	color: #fff !important;
}
.noticias{
	width: 90%;
	background: #fff;
	margin: 0 auto;
	text-align: center;
}
section article{
	padding: 0.5em;
	width: 30%;
	display: inline-block;
	background: #333;
}
.galeria{
	background: #000;
	width: 90%;
	margin: 0 auto;
	color: #777;
	text-align: center;
}
.galeria h2{
	padding: 3em 0;
}
footer{
	background: #000;
	color: #777;
	text-align: center;
	width: 100;
}
footer h5{
	padding: 1em;
>>>>>>> 0ae58c705fe1a320c1b8f8afb66358b5803c2666
}
>>>>>>> 53380bffe69f67996c741e0b2a4840f44529f2bd
>>>>>>> 71e54854a150e1e0e6877d2be9adf445b9406c29
